node_modules
.DS_Store

#Buidler files
cache
artifacts
build

#Verifier solidity contracts
EpochKeyValidityVerifier.sol
ReputationVerifier.sol
UserSignUpVerifier.sol
StartTransitionVerifier.sol
ProcessAttestationsVerifier.sol
UserStateTransitionVerifier.sol
